body {
  margin:0px;
  background-color:rgba(54, 54, 54, 1);
  background-image:none;
  position:static;
  left:auto;
  width:2132px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u28751_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:667px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 255, 255, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u28751 {
  position:absolute;
  left:848px;
  top:687px;
  width:375px;
  height:667px;
  color:#FFFFFF;
}
#u28752 {
  position:absolute;
  left:2px;
  top:324px;
  width:371px;
  word-wrap:break-word;
}
#u28753 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u28754_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:20px;
  background:inherit;
  background-color:rgba(27, 27, 27, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u28754 {
  position:absolute;
  left:848px;
  top:687px;
  width:375px;
  height:20px;
}
#u28755 {
  position:absolute;
  left:2px;
  top:2px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u28756 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u28757_img {
  position:absolute;
  left:0px;
  top:0px;
  width:6px;
  height:6px;
}
#u28757 {
  position:absolute;
  left:854px;
  top:694px;
  width:6px;
  height:6px;
}
#u28758 {
  position:absolute;
  left:2px;
  top:-5px;
  width:2px;
  visibility:hidden;
  word-wrap:break-word;
}
#u28759_img {
  position:absolute;
  left:0px;
  top:0px;
  width:6px;
  height:6px;
}
#u28759 {
  position:absolute;
  left:863px;
  top:694px;
  width:6px;
  height:6px;
}
#u28760 {
  position:absolute;
  left:2px;
  top:-5px;
  width:2px;
  visibility:hidden;
  word-wrap:break-word;
}
#u28761_img {
  position:absolute;
  left:0px;
  top:0px;
  width:6px;
  height:6px;
}
#u28761 {
  position:absolute;
  left:872px;
  top:694px;
  width:6px;
  height:6px;
}
#u28762 {
  position:absolute;
  left:2px;
  top:-5px;
  width:2px;
  visibility:hidden;
  word-wrap:break-word;
}
#u28763_img {
  position:absolute;
  left:0px;
  top:0px;
  width:6px;
  height:6px;
}
#u28763 {
  position:absolute;
  left:881px;
  top:694px;
  width:6px;
  height:6px;
}
#u28764 {
  position:absolute;
  left:2px;
  top:-5px;
  width:2px;
  visibility:hidden;
  word-wrap:break-word;
}
#u28765_img {
  position:absolute;
  left:0px;
  top:0px;
  width:6px;
  height:6px;
}
#u28765 {
  position:absolute;
  left:890px;
  top:694px;
  width:6px;
  height:6px;
}
#u28766 {
  position:absolute;
  left:2px;
  top:-5px;
  width:2px;
  visibility:hidden;
  word-wrap:break-word;
}
#u28767_div {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Thin', 'PingFang SC Thin', 'PingFang SC';
  font-weight:200;
  font-style:normal;
  font-size:11px;
  color:#FFFFFF;
}
#u28767 {
  position:absolute;
  left:901px;
  top:689px;
  width:45px;
  height:16px;
  font-family:'PingFangSC-Thin', 'PingFang SC Thin', 'PingFang SC';
  font-weight:200;
  font-style:normal;
  font-size:11px;
  color:#FFFFFF;
}
#u28768 {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  white-space:nowrap;
}
#u28769_div {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Thin', 'PingFang SC Thin', 'PingFang SC';
  font-weight:200;
  font-style:normal;
  font-size:11px;
  color:#FFFFFF;
}
#u28769 {
  position:absolute;
  left:952px;
  top:689px;
  width:16px;
  height:16px;
  font-family:'PingFangSC-Thin', 'PingFang SC Thin', 'PingFang SC';
  font-weight:200;
  font-style:normal;
  font-size:11px;
  color:#FFFFFF;
}
#u28770 {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  white-space:nowrap;
}
#u28771_div {
  position:absolute;
  left:0px;
  top:0px;
  width:47px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Thin', 'PingFang SC Thin', 'PingFang SC';
  font-weight:200;
  font-style:normal;
  font-size:11px;
  color:#FFFFFF;
}
#u28771 {
  position:absolute;
  left:1012px;
  top:689px;
  width:47px;
  height:16px;
  font-family:'PingFangSC-Thin', 'PingFang SC Thin', 'PingFang SC';
  font-weight:200;
  font-style:normal;
  font-size:11px;
  color:#FFFFFF;
}
#u28772 {
  position:absolute;
  left:0px;
  top:0px;
  width:47px;
  white-space:nowrap;
}
#u28773 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u28774_div {
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:12px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 255, 255, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u28774 {
  position:absolute;
  left:1191px;
  top:691px;
  width:26px;
  height:12px;
}
#u28775 {
  position:absolute;
  left:2px;
  top:-2px;
  width:22px;
  visibility:hidden;
  word-wrap:break-word;
}
#u28776_div {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:8px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u28776 {
  position:absolute;
  left:1195px;
  top:693px;
  width:20px;
  height:8px;
}
#u28777 {
  position:absolute;
  left:2px;
  top:-4px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u28778_div {
  position:absolute;
  left:0px;
  top:0px;
  width:3px;
  height:4px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 255, 255, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u28778 {
  position:absolute;
  left:1216px;
  top:695px;
  width:3px;
  height:4px;
}
#u28779 {
  position:absolute;
  left:2px;
  top:-6px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u28780_div {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u28780 {
  position:absolute;
  left:998px;
  top:710px;
  width:75px;
  height:24px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u28781 {
  position:absolute;
  left:2px;
  top:2px;
  width:71px;
  white-space:nowrap;
}
#u28782_div {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
}
#u28782 {
  position:absolute;
  left:862px;
  top:714px;
  width:9px;
  height:16px;
  font-size:14px;
}
#u28783 {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  white-space:nowrap;
}
#u28784 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u28785_img {
  position:absolute;
  left:0px;
  top:0px;
  width:5px;
  height:5px;
}
#u28785 {
  position:absolute;
  left:1188px;
  top:720px;
  width:5px;
  height:5px;
}
#u28786 {
  position:absolute;
  left:2px;
  top:-6px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u28787_img {
  position:absolute;
  left:0px;
  top:0px;
  width:5px;
  height:5px;
}
#u28787 {
  position:absolute;
  left:1197px;
  top:720px;
  width:5px;
  height:5px;
}
#u28788 {
  position:absolute;
  left:2px;
  top:-6px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u28789_img {
  position:absolute;
  left:0px;
  top:0px;
  width:5px;
  height:5px;
}
#u28789 {
  position:absolute;
  left:1206px;
  top:720px;
  width:5px;
  height:5px;
}
#u28790 {
  position:absolute;
  left:2px;
  top:-6px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u28791_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:38px;
  background:inherit;
  background-color:rgba(255, 102, 0, 0.219607843137255);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u28791 {
  position:absolute;
  left:848px;
  top:707px;
  width:375px;
  height:38px;
}
#u28792 {
  position:absolute;
  left:2px;
  top:11px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u28793_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFCC00;
}
#u28793 {
  position:absolute;
  left:1002px;
  top:656px;
  width:57px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFCC00;
}
#u28794 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u28795_div {
  position:absolute;
  left:0px;
  top:0px;
  width:266px;
  height:41px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:38px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#434343;
  text-align:center;
}
#u28795 {
  position:absolute;
  left:903px;
  top:1212px;
  width:266px;
  height:41px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#434343;
  text-align:center;
}
#u28796 {
  position:absolute;
  left:0px;
  top:10px;
  width:266px;
  word-wrap:break-word;
}
#u28797_img {
  position:absolute;
  left:0px;
  top:0px;
  width:183px;
  height:219px;
}
#u28797 {
  position:absolute;
  left:945px;
  top:810px;
  width:182px;
  height:218px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u28798 {
  position:absolute;
  left:2px;
  top:101px;
  width:178px;
  visibility:hidden;
  word-wrap:break-word;
}
#u28799_div {
  position:absolute;
  left:0px;
  top:0px;
  width:137px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#363636;
}
#u28799 {
  position:absolute;
  left:968px;
  top:1038px;
  width:137px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#363636;
}
#u28800 {
  position:absolute;
  left:0px;
  top:0px;
  width:137px;
  white-space:nowrap;
}
#u28801_div {
  position:absolute;
  left:0px;
  top:0px;
  width:168px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFCC00;
}
#u28801 {
  position:absolute;
  left:1318px;
  top:1227px;
  width:168px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFCC00;
}
#u28802 {
  position:absolute;
  left:0px;
  top:0px;
  width:168px;
  white-space:nowrap;
}
#u28803_div {
  position:absolute;
  left:0px;
  top:0px;
  width:444px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u28803 {
  position:absolute;
  left:1318px;
  top:1257px;
  width:444px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u28804 {
  position:absolute;
  left:0px;
  top:0px;
  width:444px;
  word-wrap:break-word;
}
#u28805_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:27px;
}
#u28805 {
  position:absolute;
  left:1281px;
  top:1224px;
  width:27px;
  height:27px;
}
#u28806 {
  position:absolute;
  left:2px;
  top:6px;
  width:23px;
  word-wrap:break-word;
}
#u28807_div {
  position:absolute;
  left:0px;
  top:0px;
  width:266px;
  height:55px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 204, 0, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u28807 {
  position:absolute;
  left:54px;
  top:529px;
  width:266px;
  height:55px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u28808 {
  position:absolute;
  left:2px;
  top:16px;
  width:262px;
  word-wrap:break-word;
}
#u28809_div {
  position:absolute;
  left:0px;
  top:0px;
  width:266px;
  height:55px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 204, 0, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u28809 {
  position:absolute;
  left:488px;
  top:151px;
  width:266px;
  height:55px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u28810 {
  position:absolute;
  left:2px;
  top:16px;
  width:262px;
  word-wrap:break-word;
}
#u28811_div {
  position:absolute;
  left:0px;
  top:0px;
  width:266px;
  height:55px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 204, 0, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u28811 {
  position:absolute;
  left:488px;
  top:939px;
  width:266px;
  height:55px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u28812 {
  position:absolute;
  left:2px;
  top:16px;
  width:262px;
  word-wrap:break-word;
}
#u28813_div {
  position:absolute;
  left:0px;
  top:0px;
  width:303px;
  height:55px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 204, 0, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u28813 {
  position:absolute;
  left:1422px;
  top:151px;
  width:303px;
  height:55px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u28814 {
  position:absolute;
  left:2px;
  top:16px;
  width:299px;
  word-wrap:break-word;
}
#u28815_div {
  position:absolute;
  left:0px;
  top:0px;
  width:266px;
  height:55px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 204, 0, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u28815 {
  position:absolute;
  left:1422px;
  top:325px;
  width:266px;
  height:55px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u28816 {
  position:absolute;
  left:2px;
  top:16px;
  width:262px;
  word-wrap:break-word;
}
#u28817 {
  position:absolute;
  left:1202px;
  top:179px;
  width:0px;
  height:0px;
}
#u28817_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:224px;
  height:8px;
}
#u28817_seg1 {
  position:absolute;
  left:205px;
  top:-10px;
  width:20px;
  height:20px;
}
#u28818 {
  position:absolute;
  left:60px;
  top:-7px;
  width:100px;
  word-wrap:break-word;
}
#u28819 {
  position:absolute;
  left:320px;
  top:557px;
  width:0px;
  height:0px;
}
#u28819_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:154px;
  height:8px;
}
#u28819_seg1 {
  position:absolute;
  left:146px;
  top:-382px;
  width:8px;
  height:386px;
}
#u28819_seg2 {
  position:absolute;
  left:146px;
  top:-382px;
  width:22px;
  height:8px;
}
#u28819_seg3 {
  position:absolute;
  left:153px;
  top:-388px;
  width:20px;
  height:20px;
}
#u28820 {
  position:absolute;
  left:100px;
  top:-131px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u28821 {
  position:absolute;
  left:320px;
  top:557px;
  width:0px;
  height:0px;
}
#u28821_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:154px;
  height:8px;
}
#u28821_seg1 {
  position:absolute;
  left:146px;
  top:-4px;
  width:8px;
  height:418px;
}
#u28821_seg2 {
  position:absolute;
  left:146px;
  top:406px;
  width:22px;
  height:8px;
}
#u28821_seg3 {
  position:absolute;
  left:153px;
  top:400px;
  width:20px;
  height:20px;
}
#u28822 {
  position:absolute;
  left:100px;
  top:131px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u28823 {
  position:absolute;
  left:754px;
  top:967px;
  width:0px;
  height:0px;
}
#u28823_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:80px;
  height:8px;
}
#u28823_seg1 {
  position:absolute;
  left:72px;
  top:-4px;
  width:8px;
  height:62px;
}
#u28823_seg2 {
  position:absolute;
  left:72px;
  top:50px;
  width:22px;
  height:8px;
}
#u28823_seg3 {
  position:absolute;
  left:79px;
  top:44px;
  width:20px;
  height:20px;
}
#u28824 {
  position:absolute;
  left:24px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u28825 {
  position:absolute;
  left:1169px;
  top:1233px;
  width:0px;
  height:0px;
}
#u28825_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:105px;
  height:8px;
}
#u28825_seg1 {
  position:absolute;
  left:97px;
  top:-4px;
  width:8px;
  height:13px;
}
#u28825_seg2 {
  position:absolute;
  left:97px;
  top:1px;
  width:15px;
  height:8px;
}
#u28825_seg3 {
  position:absolute;
  left:97px;
  top:-5px;
  width:20px;
  height:20px;
}
#u28826 {
  position:absolute;
  left:8px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u28827_div {
  position:absolute;
  left:0px;
  top:0px;
  width:266px;
  height:55px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 204, 0, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u28827 {
  position:absolute;
  left:1866px;
  top:325px;
  width:266px;
  height:55px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u28828 {
  position:absolute;
  left:2px;
  top:16px;
  width:262px;
  word-wrap:break-word;
}
#u28829 {
  position:absolute;
  left:1688px;
  top:353px;
  width:0px;
  height:0px;
}
#u28829_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:182px;
  height:8px;
}
#u28829_seg1 {
  position:absolute;
  left:163px;
  top:-10px;
  width:20px;
  height:20px;
}
#u28830 {
  position:absolute;
  left:39px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u28831_div {
  position:absolute;
  left:0px;
  top:0px;
  width:266px;
  height:55px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 204, 0, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u28831 {
  position:absolute;
  left:936px;
  top:151px;
  width:266px;
  height:55px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u28832 {
  position:absolute;
  left:2px;
  top:16px;
  width:262px;
  word-wrap:break-word;
}
#u28833 {
  position:absolute;
  left:1202px;
  top:179px;
  width:0px;
  height:0px;
}
#u28833_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:67px;
  height:8px;
}
#u28833_seg1 {
  position:absolute;
  left:59px;
  top:-4px;
  width:8px;
  height:182px;
}
#u28833_seg2 {
  position:absolute;
  left:59px;
  top:170px;
  width:161px;
  height:8px;
}
#u28833_seg3 {
  position:absolute;
  left:205px;
  top:164px;
  width:20px;
  height:20px;
}
#u28834 {
  position:absolute;
  left:13px;
  top:127px;
  width:100px;
  word-wrap:break-word;
}
#u28835 {
  position:absolute;
  left:754px;
  top:179px;
  width:0px;
  height:0px;
}
#u28835_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:186px;
  height:8px;
}
#u28835_seg1 {
  position:absolute;
  left:167px;
  top:-10px;
  width:20px;
  height:20px;
}
#u28836 {
  position:absolute;
  left:41px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
