body {
  margin:0px;
  background-color:rgba(54, 54, 54, 1);
  background-image:none;
  position:static;
  left:auto;
  width:1891px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u24992_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:186px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u24992 {
  position:absolute;
  left:588px;
  top:209px;
  width:375px;
  height:186px;
}
#u24993 {
  position:absolute;
  left:2px;
  top:85px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u24994 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u24995_div {
  position:absolute;
  left:0px;
  top:0px;
  width:351px;
  height:70px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u24995 {
  position:absolute;
  left:600px;
  top:314px;
  width:351px;
  height:70px;
}
#u24996 {
  position:absolute;
  left:2px;
  top:27px;
  width:347px;
  visibility:hidden;
  word-wrap:break-word;
}
#u24997_div {
  position:absolute;
  left:0px;
  top:0px;
  width:269px;
  height:38px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#868686;
  text-align:left;
}
#u24997 {
  position:absolute;
  left:667px;
  top:336px;
  width:269px;
  height:38px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#868686;
  text-align:left;
}
#u24998 {
  position:absolute;
  left:2px;
  top:2px;
  width:265px;
  word-wrap:break-word;
}
#u24999_div {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#515151;
  text-align:left;
}
#u24999 {
  position:absolute;
  left:667px;
  top:319px;
  width:41px;
  height:21px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#515151;
  text-align:left;
}
#u25000 {
  position:absolute;
  left:2px;
  top:2px;
  width:37px;
  white-space:nowrap;
}
#u25001_img {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:56px;
}
#u25001 {
  position:absolute;
  left:603px;
  top:319px;
  width:58px;
  height:55px;
}
#u25002 {
  position:absolute;
  left:2px;
  top:20px;
  width:54px;
  visibility:hidden;
  word-wrap:break-word;
}
#u25003_img {
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  height:38px;
}
#u25003 {
  position:absolute;
  left:603px;
  top:218px;
  width:38px;
  height:38px;
}
#u25004 {
  position:absolute;
  left:2px;
  top:11px;
  width:34px;
  visibility:hidden;
  word-wrap:break-word;
}
#u25005_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u25005 {
  position:absolute;
  left:651px;
  top:216px;
  width:29px;
  height:21px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u25006 {
  position:absolute;
  left:2px;
  top:2px;
  width:25px;
  white-space:nowrap;
}
#u25007_div {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:11px;
  color:#363636;
}
#u25007 {
  position:absolute;
  left:685px;
  top:219px;
  width:23px;
  height:16px;
  font-size:11px;
  color:#363636;
}
#u25008 {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  white-space:nowrap;
}
#u25009_img {
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:11px;
}
#u25009 {
  position:absolute;
  left:712px;
  top:223px;
  width:1px;
  height:10px;
  color:#5E5E5E;
}
#u25010 {
  position:absolute;
  left:2px;
  top:-3px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u25011_div {
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:11px;
  color:#363636;
}
#u25011 {
  position:absolute;
  left:717px;
  top:219px;
  width:56px;
  height:16px;
  font-size:11px;
  color:#363636;
}
#u25012 {
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  white-space:nowrap;
}
#u25013_div {
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:10px;
  color:#6B6B6B;
  text-align:left;
}
#u25013 {
  position:absolute;
  left:652px;
  top:240px;
  width:84px;
  height:18px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:10px;
  color:#6B6B6B;
  text-align:left;
}
#u25014 {
  position:absolute;
  left:2px;
  top:2px;
  width:80px;
  white-space:nowrap;
}
#u25015_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFCC00;
}
#u25015 {
  position:absolute;
  left:292px;
  top:177px;
  width:57px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFCC00;
}
#u25016 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u25017_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:186px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u25017 {
  position:absolute;
  left:133px;
  top:207px;
  width:375px;
  height:186px;
}
#u25018 {
  position:absolute;
  left:2px;
  top:85px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u25019_div {
  position:absolute;
  left:0px;
  top:0px;
  width:351px;
  height:70px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u25019 {
  position:absolute;
  left:145px;
  top:312px;
  width:351px;
  height:70px;
}
#u25020 {
  position:absolute;
  left:2px;
  top:27px;
  width:347px;
  visibility:hidden;
  word-wrap:break-word;
}
#u25021_img {
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  height:38px;
}
#u25021 {
  position:absolute;
  left:148px;
  top:216px;
  width:38px;
  height:38px;
}
#u25022 {
  position:absolute;
  left:2px;
  top:11px;
  width:34px;
  visibility:hidden;
  word-wrap:break-word;
}
#u25023_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u25023 {
  position:absolute;
  left:196px;
  top:214px;
  width:29px;
  height:21px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u25024 {
  position:absolute;
  left:2px;
  top:2px;
  width:25px;
  white-space:nowrap;
}
#u25025_div {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:11px;
  color:#363636;
}
#u25025 {
  position:absolute;
  left:230px;
  top:217px;
  width:23px;
  height:14px;
  font-size:11px;
  color:#363636;
}
#u25026 {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  white-space:nowrap;
}
#u25027_img {
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:11px;
}
#u25027 {
  position:absolute;
  left:257px;
  top:221px;
  width:1px;
  height:10px;
  color:#5E5E5E;
}
#u25028 {
  position:absolute;
  left:2px;
  top:-3px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u25029_div {
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:11px;
  color:#363636;
}
#u25029 {
  position:absolute;
  left:262px;
  top:217px;
  width:56px;
  height:14px;
  font-size:11px;
  color:#363636;
}
#u25030 {
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  white-space:nowrap;
}
#u25031_div {
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:10px;
  color:#6B6B6B;
  text-align:left;
}
#u25031 {
  position:absolute;
  left:197px;
  top:238px;
  width:86px;
  height:18px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:10px;
  color:#6B6B6B;
  text-align:left;
}
#u25032 {
  position:absolute;
  left:2px;
  top:2px;
  width:80px;
  white-space:nowrap;
}
#u25033_div {
  position:absolute;
  left:0px;
  top:0px;
  width:333px;
  height:38px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#868686;
  text-align:left;
}
#u25033 {
  position:absolute;
  left:148px;
  top:334px;
  width:333px;
  height:38px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#868686;
  text-align:left;
}
#u25034 {
  position:absolute;
  left:2px;
  top:2px;
  width:329px;
  word-wrap:break-word;
}
#u25035_div {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#515151;
  text-align:left;
}
#u25035 {
  position:absolute;
  left:148px;
  top:317px;
  width:41px;
  height:21px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#515151;
  text-align:left;
}
#u25036 {
  position:absolute;
  left:2px;
  top:2px;
  width:37px;
  white-space:nowrap;
}
#u25037_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:186px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u25037 {
  position:absolute;
  left:1056px;
  top:209px;
  width:375px;
  height:186px;
}
#u25038 {
  position:absolute;
  left:2px;
  top:85px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u25039_div {
  position:absolute;
  left:0px;
  top:0px;
  width:351px;
  height:70px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u25039 {
  position:absolute;
  left:1068px;
  top:314px;
  width:351px;
  height:70px;
}
#u25040 {
  position:absolute;
  left:2px;
  top:27px;
  width:347px;
  visibility:hidden;
  word-wrap:break-word;
}
#u25041_img {
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  height:38px;
}
#u25041 {
  position:absolute;
  left:1071px;
  top:218px;
  width:38px;
  height:38px;
}
#u25042 {
  position:absolute;
  left:2px;
  top:11px;
  width:34px;
  visibility:hidden;
  word-wrap:break-word;
}
#u25043_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u25043 {
  position:absolute;
  left:1119px;
  top:216px;
  width:29px;
  height:21px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u25044 {
  position:absolute;
  left:2px;
  top:2px;
  width:25px;
  white-space:nowrap;
}
#u25045_div {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:11px;
  color:#363636;
}
#u25045 {
  position:absolute;
  left:1153px;
  top:219px;
  width:23px;
  height:16px;
  font-size:11px;
  color:#363636;
}
#u25046 {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  white-space:nowrap;
}
#u25047_img {
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:11px;
}
#u25047 {
  position:absolute;
  left:1180px;
  top:223px;
  width:1px;
  height:10px;
  color:#5E5E5E;
}
#u25048 {
  position:absolute;
  left:2px;
  top:-3px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u25049_div {
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:11px;
  color:#363636;
}
#u25049 {
  position:absolute;
  left:1185px;
  top:219px;
  width:56px;
  height:16px;
  font-size:11px;
  color:#363636;
}
#u25050 {
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  white-space:nowrap;
}
#u25051_div {
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:10px;
  color:#6B6B6B;
  text-align:left;
}
#u25051 {
  position:absolute;
  left:1120px;
  top:240px;
  width:84px;
  height:18px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:10px;
  color:#6B6B6B;
  text-align:left;
}
#u25052 {
  position:absolute;
  left:2px;
  top:2px;
  width:80px;
  white-space:nowrap;
}
#u25053_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFCC00;
}
#u25053 {
  position:absolute;
  left:747px;
  top:177px;
  width:57px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFCC00;
}
#u25054 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u25055_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFCC00;
}
#u25055 {
  position:absolute;
  left:1215px;
  top:177px;
  width:57px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFCC00;
}
#u25056 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u25057_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:186px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u25057 {
  position:absolute;
  left:1514px;
  top:209px;
  width:375px;
  height:186px;
}
#u25058 {
  position:absolute;
  left:2px;
  top:85px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u25059_div {
  position:absolute;
  left:0px;
  top:0px;
  width:351px;
  height:70px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u25059 {
  position:absolute;
  left:1526px;
  top:314px;
  width:351px;
  height:70px;
}
#u25060 {
  position:absolute;
  left:2px;
  top:27px;
  width:347px;
  visibility:hidden;
  word-wrap:break-word;
}
#u25061_img {
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  height:38px;
}
#u25061 {
  position:absolute;
  left:1529px;
  top:218px;
  width:38px;
  height:38px;
}
#u25062 {
  position:absolute;
  left:2px;
  top:11px;
  width:34px;
  visibility:hidden;
  word-wrap:break-word;
}
#u25063_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u25063 {
  position:absolute;
  left:1577px;
  top:216px;
  width:29px;
  height:21px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u25064 {
  position:absolute;
  left:2px;
  top:2px;
  width:25px;
  white-space:nowrap;
}
#u25065_div {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:11px;
  color:#363636;
}
#u25065 {
  position:absolute;
  left:1611px;
  top:219px;
  width:23px;
  height:16px;
  font-size:11px;
  color:#363636;
}
#u25066 {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  white-space:nowrap;
}
#u25067_img {
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:11px;
}
#u25067 {
  position:absolute;
  left:1638px;
  top:223px;
  width:1px;
  height:10px;
  color:#5E5E5E;
}
#u25068 {
  position:absolute;
  left:2px;
  top:-3px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u25069_div {
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:11px;
  color:#363636;
}
#u25069 {
  position:absolute;
  left:1643px;
  top:219px;
  width:56px;
  height:16px;
  font-size:11px;
  color:#363636;
}
#u25070 {
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  white-space:nowrap;
}
#u25071_div {
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:10px;
  color:#6B6B6B;
  text-align:left;
}
#u25071 {
  position:absolute;
  left:1578px;
  top:240px;
  width:84px;
  height:18px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:10px;
  color:#6B6B6B;
  text-align:left;
}
#u25072 {
  position:absolute;
  left:2px;
  top:2px;
  width:80px;
  white-space:nowrap;
}
#u25073_div {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFCC00;
}
#u25073 {
  position:absolute;
  left:1666px;
  top:177px;
  width:71px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFCC00;
}
#u25074 {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u25075_div {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#515151;
  text-align:left;
}
#u25075 {
  position:absolute;
  left:1593px;
  top:319px;
  width:113px;
  height:21px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#515151;
  text-align:left;
}
#u25076 {
  position:absolute;
  left:2px;
  top:2px;
  width:109px;
  white-space:nowrap;
}
#u25077_div {
  position:absolute;
  left:0px;
  top:0px;
  width:278px;
  height:38px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#868686;
  text-align:left;
}
#u25077 {
  position:absolute;
  left:1593px;
  top:338px;
  width:278px;
  height:38px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#868686;
  text-align:left;
}
#u25078 {
  position:absolute;
  left:2px;
  top:2px;
  width:274px;
  white-space:nowrap;
}
#u25079_img {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:56px;
}
#u25079 {
  position:absolute;
  left:1073px;
  top:319px;
  width:58px;
  height:55px;
}
#u25080 {
  position:absolute;
  left:2px;
  top:20px;
  width:54px;
  visibility:hidden;
  word-wrap:break-word;
}
#u25081_div {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#515151;
  text-align:left;
}
#u25081 {
  position:absolute;
  left:1137px;
  top:319px;
  width:113px;
  height:21px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#515151;
  text-align:left;
}
#u25082 {
  position:absolute;
  left:2px;
  top:2px;
  width:109px;
  white-space:nowrap;
}
#u25083_div {
  position:absolute;
  left:0px;
  top:0px;
  width:274px;
  height:38px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#868686;
  text-align:left;
}
#u25083 {
  position:absolute;
  left:1137px;
  top:340px;
  width:274px;
  height:38px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#868686;
  text-align:left;
}
#u25084 {
  position:absolute;
  left:2px;
  top:2px;
  width:270px;
  word-wrap:break-word;
}
#u25085_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFCC00;
}
#u25085 {
  position:absolute;
  left:164px;
  top:415px;
  width:29px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFCC00;
}
#u25086 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u25087_div {
  position:absolute;
  left:0px;
  top:0px;
  width:332px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u25087 {
  position:absolute;
  left:164px;
  top:445px;
  width:332px;
  height:60px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u25088 {
  position:absolute;
  left:0px;
  top:0px;
  width:332px;
  word-wrap:break-word;
}
#u25089_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:27px;
}
#u25089 {
  position:absolute;
  left:134px;
  top:412px;
  width:27px;
  height:27px;
}
#u25090 {
  position:absolute;
  left:2px;
  top:6px;
  width:23px;
  word-wrap:break-word;
}
#u25091_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFCC00;
}
#u25091 {
  position:absolute;
  left:618px;
  top:415px;
  width:29px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFCC00;
}
#u25092 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u25093_div {
  position:absolute;
  left:0px;
  top:0px;
  width:332px;
  height:80px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u25093 {
  position:absolute;
  left:618px;
  top:445px;
  width:332px;
  height:80px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u25094 {
  position:absolute;
  left:0px;
  top:0px;
  width:332px;
  word-wrap:break-word;
}
#u25095_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:27px;
}
#u25095 {
  position:absolute;
  left:588px;
  top:412px;
  width:27px;
  height:27px;
}
#u25096 {
  position:absolute;
  left:2px;
  top:6px;
  width:23px;
  word-wrap:break-word;
}
#u25097_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFCC00;
}
#u25097 {
  position:absolute;
  left:1087px;
  top:415px;
  width:57px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFCC00;
}
#u25098 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u25099_div {
  position:absolute;
  left:0px;
  top:0px;
  width:332px;
  height:76px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u25099 {
  position:absolute;
  left:1087px;
  top:445px;
  width:332px;
  height:76px;
  color:#FFFFFF;
}
#u25100 {
  position:absolute;
  left:0px;
  top:0px;
  width:332px;
  word-wrap:break-word;
}
#u25101_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:27px;
}
#u25101 {
  position:absolute;
  left:1057px;
  top:412px;
  width:27px;
  height:27px;
}
#u25102 {
  position:absolute;
  left:2px;
  top:6px;
  width:23px;
  word-wrap:break-word;
}
#u25103_div {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFCC00;
}
#u25103 {
  position:absolute;
  left:1559px;
  top:415px;
  width:71px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFCC00;
}
#u25104 {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u25105_div {
  position:absolute;
  left:0px;
  top:0px;
  width:332px;
  height:80px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u25105 {
  position:absolute;
  left:1559px;
  top:445px;
  width:332px;
  height:80px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u25106 {
  position:absolute;
  left:0px;
  top:0px;
  width:332px;
  word-wrap:break-word;
}
#u25107_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:27px;
}
#u25107 {
  position:absolute;
  left:1529px;
  top:412px;
  width:27px;
  height:27px;
}
#u25108 {
  position:absolute;
  left:2px;
  top:6px;
  width:23px;
  word-wrap:break-word;
}
#u25109_img {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:51px;
}
#u25109 {
  position:absolute;
  left:1536px;
  top:324px;
  width:51px;
  height:51px;
}
#u25110 {
  position:absolute;
  left:2px;
  top:18px;
  width:47px;
  visibility:hidden;
  word-wrap:break-word;
}
#u25111_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFCC00;
}
#u25111 {
  position:absolute;
  left:292px;
  top:663px;
  width:57px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFCC00;
}
#u25112 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u25113_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFCC00;
}
#u25113 {
  position:absolute;
  left:747px;
  top:663px;
  width:57px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFCC00;
}
#u25114 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u25115_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFCC00;
}
#u25115 {
  position:absolute;
  left:164px;
  top:901px;
  width:29px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFCC00;
}
#u25116 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u25117_div {
  position:absolute;
  left:0px;
  top:0px;
  width:335px;
  height:80px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u25117 {
  position:absolute;
  left:164px;
  top:931px;
  width:335px;
  height:80px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u25118 {
  position:absolute;
  left:0px;
  top:0px;
  width:335px;
  white-space:nowrap;
}
#u25119_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:27px;
}
#u25119 {
  position:absolute;
  left:134px;
  top:898px;
  width:27px;
  height:27px;
}
#u25120 {
  position:absolute;
  left:2px;
  top:6px;
  width:23px;
  word-wrap:break-word;
}
#u25121_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFCC00;
}
#u25121 {
  position:absolute;
  left:618px;
  top:901px;
  width:29px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFCC00;
}
#u25122 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u25123_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:27px;
}
#u25123 {
  position:absolute;
  left:588px;
  top:898px;
  width:27px;
  height:27px;
}
#u25124 {
  position:absolute;
  left:2px;
  top:6px;
  width:23px;
  word-wrap:break-word;
}
#u25125_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:186px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u25125 {
  position:absolute;
  left:133px;
  top:693px;
  width:375px;
  height:186px;
}
#u25126 {
  position:absolute;
  left:2px;
  top:85px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u25127_img {
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  height:38px;
}
#u25127 {
  position:absolute;
  left:148px;
  top:702px;
  width:38px;
  height:38px;
}
#u25128 {
  position:absolute;
  left:2px;
  top:11px;
  width:34px;
  visibility:hidden;
  word-wrap:break-word;
}
#u25129_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u25129 {
  position:absolute;
  left:196px;
  top:700px;
  width:29px;
  height:21px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u25130 {
  position:absolute;
  left:2px;
  top:2px;
  width:25px;
  white-space:nowrap;
}
#u25131_div {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:11px;
  color:#363636;
}
#u25131 {
  position:absolute;
  left:230px;
  top:703px;
  width:23px;
  height:16px;
  font-size:11px;
  color:#363636;
}
#u25132 {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  white-space:nowrap;
}
#u25133_img {
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:11px;
}
#u25133 {
  position:absolute;
  left:257px;
  top:707px;
  width:1px;
  height:10px;
  color:#5E5E5E;
}
#u25134 {
  position:absolute;
  left:2px;
  top:-3px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u25135_div {
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:11px;
  color:#363636;
}
#u25135 {
  position:absolute;
  left:262px;
  top:703px;
  width:56px;
  height:16px;
  font-size:11px;
  color:#363636;
}
#u25136 {
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  white-space:nowrap;
}
#u25137_div {
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:10px;
  color:#6B6B6B;
  text-align:left;
}
#u25137 {
  position:absolute;
  left:197px;
  top:724px;
  width:84px;
  height:18px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:10px;
  color:#6B6B6B;
  text-align:left;
}
#u25138 {
  position:absolute;
  left:2px;
  top:2px;
  width:80px;
  white-space:nowrap;
}
#u25139_div {
  position:absolute;
  left:0px;
  top:0px;
  width:351px;
  height:69px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u25139 {
  position:absolute;
  left:142px;
  top:793px;
  width:351px;
  height:69px;
}
#u25140 {
  position:absolute;
  left:2px;
  top:26px;
  width:347px;
  visibility:hidden;
  word-wrap:break-word;
}
#u25141_div {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:11px;
  color:#868686;
  text-align:left;
}
#u25141 {
  position:absolute;
  left:148px;
  top:817px;
  width:49px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:11px;
  color:#868686;
  text-align:left;
}
#u25142 {
  position:absolute;
  left:2px;
  top:2px;
  width:45px;
  white-space:nowrap;
}
#u25143_div {
  position:absolute;
  left:0px;
  top:0px;
  width:333px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:11px;
  color:#868686;
  text-align:left;
}
#u25143 {
  position:absolute;
  left:148px;
  top:838px;
  width:333px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:11px;
  color:#868686;
  text-align:left;
}
#u25144 {
  position:absolute;
  left:2px;
  top:2px;
  width:329px;
  white-space:nowrap;
}
#u25145_div {
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:11px;
  color:#363636;
  text-align:left;
}
#u25145 {
  position:absolute;
  left:148px;
  top:797px;
  width:93px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:11px;
  color:#363636;
  text-align:left;
}
#u25146 {
  position:absolute;
  left:2px;
  top:2px;
  width:89px;
  white-space:nowrap;
}
#u25147_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:186px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u25147 {
  position:absolute;
  left:588px;
  top:693px;
  width:375px;
  height:186px;
}
#u25148 {
  position:absolute;
  left:2px;
  top:85px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u25149_img {
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  height:38px;
}
#u25149 {
  position:absolute;
  left:603px;
  top:702px;
  width:38px;
  height:38px;
}
#u25150 {
  position:absolute;
  left:2px;
  top:11px;
  width:34px;
  visibility:hidden;
  word-wrap:break-word;
}
#u25151_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u25151 {
  position:absolute;
  left:651px;
  top:700px;
  width:29px;
  height:21px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u25152 {
  position:absolute;
  left:2px;
  top:2px;
  width:25px;
  white-space:nowrap;
}
#u25153_div {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:11px;
  color:#363636;
}
#u25153 {
  position:absolute;
  left:685px;
  top:703px;
  width:23px;
  height:16px;
  font-size:11px;
  color:#363636;
}
#u25154 {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  white-space:nowrap;
}
#u25155_img {
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:11px;
}
#u25155 {
  position:absolute;
  left:712px;
  top:707px;
  width:1px;
  height:10px;
  color:#5E5E5E;
}
#u25156 {
  position:absolute;
  left:2px;
  top:-3px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u25157_div {
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:11px;
  color:#363636;
}
#u25157 {
  position:absolute;
  left:717px;
  top:703px;
  width:56px;
  height:16px;
  font-size:11px;
  color:#363636;
}
#u25158 {
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  white-space:nowrap;
}
#u25159_div {
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:10px;
  color:#6B6B6B;
  text-align:left;
}
#u25159 {
  position:absolute;
  left:652px;
  top:724px;
  width:84px;
  height:18px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:10px;
  color:#6B6B6B;
  text-align:left;
}
#u25160 {
  position:absolute;
  left:2px;
  top:2px;
  width:80px;
  white-space:nowrap;
}
#u25161_div {
  position:absolute;
  left:0px;
  top:0px;
  width:351px;
  height:69px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u25161 {
  position:absolute;
  left:597px;
  top:793px;
  width:351px;
  height:69px;
}
#u25162 {
  position:absolute;
  left:2px;
  top:26px;
  width:347px;
  visibility:hidden;
  word-wrap:break-word;
}
#u25163_img {
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:56px;
}
#u25163 {
  position:absolute;
  left:886px;
  top:800px;
  width:55px;
  height:55px;
}
#u25164 {
  position:absolute;
  left:2px;
  top:20px;
  width:51px;
  visibility:hidden;
  word-wrap:break-word;
}
#u25165_div {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:11px;
  color:#868686;
  text-align:left;
}
#u25165 {
  position:absolute;
  left:606px;
  top:817px;
  width:49px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:11px;
  color:#868686;
  text-align:left;
}
#u25166 {
  position:absolute;
  left:2px;
  top:2px;
  width:45px;
  white-space:nowrap;
}
#u25167_div {
  position:absolute;
  left:0px;
  top:0px;
  width:267px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:11px;
  color:#868686;
  text-align:left;
}
#u25167 {
  position:absolute;
  left:606px;
  top:838px;
  width:267px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:11px;
  color:#868686;
  text-align:left;
}
#u25168 {
  position:absolute;
  left:2px;
  top:2px;
  width:263px;
  white-space:nowrap;
}
#u25169_div {
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:11px;
  color:#363636;
  text-align:left;
}
#u25169 {
  position:absolute;
  left:606px;
  top:797px;
  width:93px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:11px;
  color:#363636;
  text-align:left;
}
#u25170 {
  position:absolute;
  left:2px;
  top:2px;
  width:89px;
  white-space:nowrap;
}
#u25171_div {
  position:absolute;
  left:0px;
  top:0px;
  width:430px;
  height:100px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u25171 {
  position:absolute;
  left:618px;
  top:931px;
  width:430px;
  height:100px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u25172 {
  position:absolute;
  left:0px;
  top:0px;
  width:430px;
  word-wrap:break-word;
}
#u25173_div {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FFCC00;
}
#u25173 {
  position:absolute;
  left:132px;
  top:94px;
  width:109px;
  height:25px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FFCC00;
}
#u25174 {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  white-space:nowrap;
}
#u25175_div {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FFCC00;
}
#u25175 {
  position:absolute;
  left:132px;
  top:604px;
  width:109px;
  height:25px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FFCC00;
}
#u25176 {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  white-space:nowrap;
}
#u25177_img {
  position:absolute;
  left:0px;
  top:0px;
  width:723px;
  height:2px;
}
#u25177 {
  position:absolute;
  left:132px;
  top:566px;
  width:722px;
  height:1px;
}
#u25178 {
  position:absolute;
  left:2px;
  top:-8px;
  width:718px;
  visibility:hidden;
  word-wrap:break-word;
}
